body {
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    overflow: hidden;
}

#score {
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.05));
    padding: 1rem 2rem;
    text-align: center;
    color: white;
    text-shadow: .1vw .1vw .1vw black;
    font-weight: bold;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 2.5vh;
    border-radius: 30px;
    margin: 0 auto;
    border: 6px solid;
    border-image-slice: 2;
    border-image-source: linear-gradient(90deg,rgba(184,134,45,0),#b8862d 15%,#ffdf91 50%,#b8862d 85%,rgba(184,134,45,0));
    zoom: 0.7;
    max-width: 50%;
}

#score>div, #score>table {
    display: inline-block
}

#score #map {
  padding-top: 10px;
    color: #29e0f8;
    position: absolute;
    transform: translate(-50%);
    text-shadow: .1vw .1vw .3vw black;
    font-size: 3.5rem;
}

.name {
    min-width: 22vw;
}

#team1 {
    text-align: left
}

#team2, #team2 tr {
    text-align: right
}

.player .flag img {
  width: 5vw;
  border-radius: 30px;
  height: 3vw;
}

#team1 .stats td {
    padding-right: .4vw
}

#team2 .stats td {
    padding-left: .4vw
}

#team1 .stats td:last-child {
    padding-right: 4vw
}

#team2 .stats td:first-child {
    margin-left: 4vw
}

#team1 .flag {
    padding-right: 1vw
}

#team2 .flag {
    padding-left: 1vw
}

.player .name {
    color: #fff;
    font-size: 4.2rem;
}

.stats .rank {
  margin-right: 25px;
  display: block;
    color: #ffdf91;
    background: #b8862d;
    padding: 8px 16px;
    text-shadow: 0;
    width: auto;
    zoom:0.9;
    text-align: center;
}

.stats .rating {
    color: #7ab6ff
}

.stats .winrate {
    color: #fffb78;
    zoom: 1.25;
}

.stats .wins {
    color: #48bd21
}

.stats .losses {
    color: red
}

@font-face {
  font-family: 'Maiola';
  src: local("Maiola");
}

@font-face {
  font-family: 'Noto Sans';
  src: local("Noto Sans");
}

#map,
.name {
  font-family: 'Maiola', serif;
}

.stats {
  font-family: 'Noto Sans',sans-serif !important;
}
